# Interactive Broker Credentials
APP_HOST=http://localhost:5000
IB_USERNAME=user
IB_PASSWORD=password
# Which bot to inject
BOT=LSE
BOT_START_DATE=2019-01-05
BOT_DAYS_TO_TEST=10
BOT_TARGET_TICKERS=LLOY.L::53-54,CNA.L::132-133